@use "variables";
@use "mixins";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tv-icon {
  @include mixins.defaultIconSize(18px);
}

.tv-icon-position-left {
  @include mixins.floatIcon(left, right, 8px);
}

.tv-icon-position-right {
  @include mixins.floatIcon(right, left, 8px);
}

.tv-btn-icon {
  min-width: 40px !important;
  min-height: 40px !important;
  padding: 0 !important;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  display: flex !important;
  & .tv-icon {
    margin: 0 !important;
  }
}
