@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Lato:wght@300&display=swap");

/* 🌙 Dark Theme */
$dark-body-bg: #7A7D7D;
$dark-button-bg: #EF233C;
$dark-card-bg: #0E131F;
$dark-button-text: #AFDEDC;
$dark-text: #F4FAFF;

/* ☀️ Light Theme */
$light-body-bg: #E0E1E1;
$light-button-bg: #EF233C;
$light-card-bg: #B9C4DF;
$light-button-text: #F1F9F9;
$light-text: #000B14;

/* 🌍 Global Colors */
$error-bg: #ff0000;
$info-bg: #2F80ED;
$success-bg: #00490b;
$warning-bg: #d3b042;

/* 🖋 Fonts */
$font-text: "Lato", sans-serif;
$font-title: "Kanit", sans-serif;
