@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark-mode {
  @include backgroundColorAndTextColor($color-background-body-dark, $color-text-dark);
}

.light-mode {
  @include backgroundColorAndTextColor($color-background-body-light, $color-text-light);
}
