@mixin backgroundColorAndTextColor($background-color, $text-color) {
  background-color: $background-color;
  color: $text-color;
}

@mixin defaultButton($background-color, $text-color) {
  @include backgroundColorAndTextColor($background-color, $text-color);
  border: none;
  padding: .8rem 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 0 5px $background-color;
  &:hover {
    background-color: darken($background-color, 10%);
  }
  &:active {
    background-color: darken($background-color, 20%);
    box-shadow: 0 0 0 $background-color;
    transform: translateY(2px);
  }
}

@mixin defaultIcon($urlIcon, $sizeIcon) {
  background-image: url($urlIcon);
  background-size: cover;
  width: $sizeIcon;
  height: $sizeIcon;
}
